 body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/*start Navbar */
.navbar{
    background-color: white;
    height: 5rem;
}
.nav-link{
    color: black !important;
}
.fa-compass{
    color: rgb(207, 46, 46);
}

/*start Navbar */

/* Start footer */

.f-info-links a{
    text-decoration: none;
    color: black;
}
.f-info-links a:hover{
    text-decoration: underline;
 }
 .f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
 }
 .f-info{
    text-align: center;
    height: 8rem;
    background-color: rgb(199, 201, 201);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
/* End footer */

/* Start Card */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    width: 100% !important;
    border-radius: 1rem !important;
    height: 20rem;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight: 400;
}
.card-a{
    text-decoration: none;
}

.card-img-top:hover{
/* background-color: white; */
opacity: 0.8;
}

/* new Page */
.btn-add{
    background-color: rgb(243, 79, 79) !important;
    border: none !important;
}

/* edit Page */
.btn-edit{
    background-color: rgb(243, 79, 79) !important;
    border: none !important;
}

/* Show Page */
.btn-show{
    display: flex;
    
}