<%- layout ("/layouts/boilerplate.ejs") %>
  <body>
    <div class="row mt-3">
        <h1 class="col-6 offset-3 mb-3">Login on Wanderlust
        </h1>
      <div class="col-6 offset-3">
        <form method="POST" action="/login">
            
            <div class="mb-3">
                <label for="username" class="form-label">UserName</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button class="btn btn-info mt-3">Login</button>
        </form>
        
      </div>
    </div>
  </body>

